.simple-form{
    width: 80%; 
    max-width: 450px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 165px;
    height: 60px;
    background-color: #7198B5;
    color: #F0F0F0;
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 400;
    border: none;
    margin-top: 16px;
    margin-inline: auto;
    border-radius: 15px;
    cursor: pointer;
}