@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Kenao';
  src: url('fonts/Kenao.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;  
    color: #000000;  
    transition: all ease 0.2s;
    line-height: 100%;
}
body{
    font-size: 100%;
    background-color: #E9E9E9;
    list-style-type: none;
}
a{
  text-decoration: none;
}
ul, li{
  list-style: none;
}
