@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Kenao";
  src: url("/public/fonts/Kenao.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #7198b5;
  --white: #f0f0f0;
  --gray: #8e8e8e;
  --color-gray: #7c7c7c;
  --light-gray: #dddddd;
  --background-gray: #e9e9e9;
  --off-white: #e5e5e5;
  --off-blue: #a0c8f2;
  --background-black: #242424;
  font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: var(--background-gray);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input {
  border: none;
}

a:hover {
  color: #747bff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 1px auto var(--blue);
}

.card {
  padding: 2em;
}

.primary-button {
  padding: 20px 25px;
  border-radius: 12px;
  font-size: calc(0.6em + 0.6vw);
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 768px) {
  .primary-button {
    padding: 15px 20px;
  }
}

.active {
  color: var(--blue) !important;
  border-bottom: 3px solid var(--blue);
}

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem 0rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--background-gray);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

::-webkit-scrollbar {
  width: 12px; /* Largura para scroll vertical */
  height: 12px; /* Altura para scroll horizontal */
}

/* 2. A pista (track) da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da pista */
  border-radius: 10px; /* Bordas arredondadas para a pista */
}

/* 3. O polegar (thumb) - a parte que você arrasta */
::-webkit-scrollbar-thumb {
  background: #888; /* Cor do polegar */
  border-radius: 10px; /* Bordas arredondadas para o polegar */
  border: 2px solid #f1f1f1; /* Opcional: cria um padding em volta do polegar */
}

/* 4. (Opcional) Efeito ao passar o mouse sobre o polegar */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do polegar ao passar o mouse */
}

/* 6. (Opcional) O canto onde as barras se encontram */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Geralmente a mesma cor do track */
}
