.container {
  margin: 2vh auto 0 auto;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.inputsContainer {
  margin: 2vh auto 0 auto;
  border-radius: 32px;
  padding: 16px 24px;
  width: 80%;
  max-width: 700px;
  background-color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promptInput {
  border: none;
  outline: 0;
  background-color: #fbfbfb;
  box-shadow: 0px 4px 4px rgba(#000000, 0.25);
  border-radius: 15px;
  font-size: 1rem;
  padding: 12px 24px;
  width: 90%;
}

.difficultySelector {
  appearance: none;
}

.chatSection {
  margin: 0 auto;
  overflow-y: auto;
  background-color: #fbfbfb;
  padding: 24px 32px 12px 32px;
  max-width: 850px;
  width: 80%;
  height: 60vh;
  border-radius: 15px;
}

.promptSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actionButton {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 24px;
  width: 46%;
  border-radius: 20px;
  padding: 16px 0;
  background-color: var(--blue);
  font-size: calc(0.7em + 0.3vw);
  color: var(--white);
}

.topicInput {
  background-color: var(--white);
  border: 1px solid var(--gray);
  outline: 0;
  box-shadow: 0px 4px 4px rgba(#000000, 0.25);
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 12px 20px;
  min-width: 192px;
  width: 60%;
}

.topicInput:focus {
  outline: 2px solid var(--blue);
  border-color: rgba(0, 0, 255, 0);
}

.topicInput::placeholder {
  color: var(--blue);
}

.submitButton {
  background-color: var(--blue);
  width: fit-content;
  border-radius: 32px;
}

.iAkademikaIllustration {
  margin: 0 auto;
}

.userInputsSection {
  padding: 12px 24px;
  width: fit-content;
  gap: 12px;
  background-color: var(--white);
  border-radius: 12px;
}

.userInputsSection h1, h2 {
  font-weight: 500;
  color: var(--gray);
  font-size: 1rem;
}

.iAkademikaResponseSection {
  margin-top: 24px;
}

.iAkademikaResponseSection h1 {
  font-weight: 500;
  color: var(--gray);
  font-size: 1rem;
}

.promptMode {
  text-align: left;
  margin-top: 6px;
  gap: 12px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  color: var(--gray);
  align-content: center;
}

.promptMode p {
  margin: 0;
}

.saveSection {
  display: flex;
  gap: 12px;
  color: var(--blue);
}

.answerButton {
  background-color: var(--blue);
  color: var(--white);
  margin-top: 12px;
  &:disabled {
    background-color: var(--gray);
    cursor: default;
  }
}

.exerciseContainer {
  margin-bottom: 24px;
  margin-left: 24px;
}

.exerciseContainer h1 {
  color: #213547;
  font-weight: 600;
  font-size: 1.4rem;
}

.exerciseOption {
  display: flex;
  gap: 32px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  padding: 12px;
  flex-wrap: wrap;
  margin: 12px 0;
  align-content: center;
  max-width: 600px;
  &:hover {
    cursor: pointer;
    border: 1px solid var(--blue);
    background-color: var(--light-gray);
  }
}

.activeOption {
  background-color: var(--blue);
  color: var(--white);
  &:hover {
    border: 1px solid var(--white);
    background-color: var(--blue);
  }
}

.activeOption span {
  color: var(--blue) !important;
  background-color: var(--white) !important;
}

.exerciseStats {
  display: flex;
  justify-content: left;
  align-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.exerciseCorrectExplanation {
  background-color: rgb(200, 255, 200);
  color: rgb(0, 71, 0);
  padding: 12px 24px;
  border-radius: 16px;
  width: 80%;
}

.exerciseIncorrectExplanation {
  background-color: rgb(255, 196, 196);
  color: rgb(177, 0, 0);
  padding: 12px 24px;
  border-radius: 16px;
  width: 80%;
}

.exerciseOption p {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  width: 80%;
}

.exerciseOption span {
  color: var(--white);
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 100%;
  background-color: var(--blue);
}

@media (max-width: 768px) {
  .inputsContainer {
    padding: 8px 12px;
  }

  .topicInput {
    width: 100%;
  }

  .promptSection {
    flex-wrap: wrap;
    justify-content: start;
    gap: 12px;
  }
}
